# /etc/systemd/system/tailscale-cert.service
[Unit]
Description=Tailscale SSL Service Renewal
After=network.target
After=syslog.target

[Service]
Type=oneshot
User=root
Group=root
WorkingDirectory=/etc/ssl/private/
Environment="HOSTNAME={{ ansible_hostname }}"
Environment="DOMAIN=daggertooth-bangus.ts.net"
ExecStart=tailscale cert ${HOSTNAME}.${DOMAIN}
ExecStartPost=pvenode cert set /etc/ssl/private/${HOSTNAME}.daggertooth-bangus.ts.net.crt /etc/ssl/private/${HOSTNAME}.daggertooth-bangus.ts.net.key --force 1 --restart 1


[Install]
WantedBy=multi-user.target

